<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.partyfit.model.dao.ArticleDao">
	<select id="selectArticle" parameterType="map">
		select title, content, reg_date, mod_date, view_count, category, user_id, party_id from article
		where category = #{category} and party_id = #{partyId}
		<if test="condition.key != null">
			and ${condition.key} like concat('%',#{condition.word},'%')
		</if>
		<if test="condition.orderBy != null">
			order by ${condition.orderBy} ${condition.orderByDir}
		</if>
	</select>
	
</mapper>