<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.partyfit.model.dao.ArticleDao">
	<select id="selectArticle" parameterType="map" resultType="Article">
		select a.article_id, a.title, a.content, a.reg_date, a.mod_date, a.view_count, a.map_json, a.category,
		a.user_id, a.party_id,a.delete_yn, count(l.likes_id) as likesCount, u.username 
		from article a left join article_likes l ON  a.article_id = l.target_id left join user u ON  u.user_id = a.user_id
		group by a.article_id
		having category = #{category} and 
		party_id = #{partyId}
		and delete_yn = 'N'
		<if test="condition.key != null">
			and ${condition.key} like
			concat('%',#{condition.word},'%')
		</if>
		<if test="condition.orderBy != null">
			order by ${condition.orderBy} ${condition.orderByDir}
		</if>
	</select>
	<insert id="insertArticle" parameterType="Article">
		insert into
		article(title, content, category, map_json, user_id, party_id) 
		values(#{title}, #{content}, #{category},#{mapJson}, #{userId}, #{partyId})
	</insert>
	<update id="updateArticle" parameterType="Article">
		update article set
		title = #{title}, content = #{content}, mod_date = now(), user_id = #{userId}, party_id =#{partyId}, map_json = #{mapJson}
		where article_id = #{articleId}
	</update>
	<update id="updateDeleteArticle" parameterType="int">
		update article set delete_yn = 'Y' where article_id = #{articleId}
	</update>
	<select id="selectAtricleDetail" parameterType="int" resultType="ArticleUser">
		select a.*, u.*, count(l.likes_id) as likesCount
		from article a left join article_likes l on a.article_id = l.target_id
        join user u on a.user_id = u.user_id
		where article_id = #{articleId}
	</select>
	<update id="updateArticleViewCount" parameterType="int">
		update article set view_count = view_count +1 where article_id = #{articleId}
	</update>
	<select id="selectMyArticle" parameterType="User" resultType="Article">
		select * from article where user_id=#{userId}
	
	</select>
	
</mapper>