h1 {
    margin: 100px;
}

/* 전체 화면을 검정색으로 설정 */

.signup-container {
    background-color: #333;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 필드셋 스타일 */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

/* 레이블 스타일 */

label {
    display: block;
    margin-bottom: 5px;
}

/* 입력 필드 스타일 */

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

/* 버튼 스타일 */

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    /* 파란색 */
    color: white;
    border: none;
    cursor: pointer;
}

/* 버튼 호버 효과 */

button:hover {
    background-color: #0056b3;
    /* 더 짙은 파란색 */
}

/* 레전드 스타일 */

legend {
    font-weight: bold;
    margin-bottom: 10px;
}